body {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px;
  font-size: 0.8em;
}

.w3-bar button {
  width: 50% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.w3-buttonSelected {
  background-color: #2196f3;
}

.margin10 {
  margin: 10px;
}

#mdiv {
  width: 14px;
  height: 14px;
}

.mdiv {
  height: 14px;
  width: 2px;
  margin-left: 5px;
  background-color: black;
  transform: rotate(45deg);
  z-index: 1;
}

.md {
  height: 14px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  z-index: 2;
}

#btnMenu {
  border-radius: 50%;
  position: relative;
  padding: 6px;
  cursor: pointer;
}

#btnSwitchInterfaces {
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.menuDot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-image: radial-gradient(black 2px, transparent 2px),
    radial-gradient(black 2px, transparent 2px),
    radial-gradient(black 2px, transparent 2px);
  background-position: center -5px, center center, center 5px;
}

#iconSwap {
  display: none;
}

#divIconTranslate:hover #iconSwap {
  display: block;
}

#divIconTranslate:hover #iconTranslate {
  opacity: 0.6;
}

#divIconTranslate > img {
  padding: 0;
}

#btnOptions {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

#divMenu {
  border-radius: 50%;
}

button span {
  pointer-events: none;
}

input,
label,
#more,
#less {
  cursor: pointer;
}

hr {
  margin-top: 10px;
  margin-bottom: 4px;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg) translate(0, -3px);
}

.down {
  transform: rotate(45deg) translate(0, -3px);
}

.gg-swap {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  box-shadow: -2px 2px 0, 2px -2px 0;
  width: 6px;
  height: 2px;
}

.gg-swap::after,
.gg-swap::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.gg-swap::before {
  border-left: 3px solid;
  top: -4px;
  right: -4px;
}

.gg-swap::after {
  border-right: 3px solid;
  bottom: -4px;
  left: -4px;
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}

.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.gg-close::after {
  transform: rotate(-45deg);
}

.gg-heart,
.gg-heart::after {
  border: 2px solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 10px;
  height: 8px;
  border-bottom: 0;
}
.gg-heart {
  box-sizing: border-box;
  position: relative;
  transform: translate(
      calc(-10px / 2 * var(--ggs, 1)),
      calc(-6px / 2 * var(--ggs, 1))
    )
    rotate(-45deg) scale(var(--ggs, 1));
  display: block;
}
.gg-heart::after,
.gg-heart::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-heart::after {
  right: -9px;
  transform: rotate(90deg);
  top: 5px;
}
.gg-heart::before {
  width: 11px;
  height: 11px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  left: -2px;
  top: 3px;
}

#btnPatreon {
  margin-top: 6px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

#btnPatreon:hover i,
#btnPatreon:hover i::after,
#btnPatreon:hover i::before {
  background-color: tomato;
}

#btnImproveTranslation {
  width: 100%;
  cursor: pointer;
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 10px;
}

#btnImproveTranslation:hover {
  scale: 1.03;
  box-shadow: 0 0 3px -2px black;
}
