body {
    user-select: none;
    /* min-width: 300px; */
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 10px;
}

.containerRight {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    flex: 1;
}

button {
    min-width: 80px;
    margin-left: 5px;
}

#btnSwitchInterfaces {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

#btnPatreon {
    margin-top: 6px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

#btnPatreon:hover i, #btnPatreon:hover i::after, #btnPatreon:hover i::before {
    background-color: tomato;
}

#divOptionsList {
    position: static;
}

#lblTranslating,
#lblTranslated,
#lblError,
#btnRestore,
#btnTryAgain {
    display: none;
}

.arrow-down {
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

option {
    color: black;
}

#divIconTranslate:hover #iconTranslate {
    opacity: 0.6;
}

#iconSwap {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0.8;
}

#divIconTranslate:hover #iconSwap {
    display: block;
}

#btnOptions option {
    font-size: small;
    font-weight: normal;
}

.pointerIgnore {
    pointer-events: none;
}

.arrow {
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
}

#divIconTranslate>img {
    padding: 0;
}

.gg-swap {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    box-shadow:
        -2px 2px 0,
        2px -2px 0;
    width: 6px;
    height: 2px
}

.gg-swap::after,
.gg-swap::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent
}

.gg-swap::before {
    border-left: 3px solid;
    top: -4px;
    right: -4px
}

.gg-swap::after {
    border-right: 3px solid;
    bottom: -4px;
    left: -4px
}


.gg-heart,
.gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
}
.gg-heart {
    box-sizing: border-box;
    position: relative;
    transform:
        translate(
            calc(-10px / 2 * var(--ggs,1)),
            calc(-6px / 2 * var(--ggs,1))
        )
        rotate(-45deg)
        scale(var(--ggs,1));
    display: block
}
.gg-heart::after,
.gg-heart::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
}
.gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}