body {
    user-select: none;
    /* min-width: 300px; */
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 10px;
}

.containerRight {
    display:flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    min-width: 80px;
    margin-left: 5px;
}

#btnClose {
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 8px;
}

#divOptionsList {
    position: static;
}

#lblTranslating, #lblTranslated, #lblError,
#btnRestore, #btnTryAgain {
    display: none;
}

.arrow-down {
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

option {
    color: black;
}

#divIconTranslate:hover #iconTranslate {
    opacity: 0.6;
}

#iconSwap {
    position: absolute; bottom: 0; left: 0;
    display: none;
    opacity: 0.8;
}

#divIconTranslate:hover #iconSwap {
    display: block;
}

#btnOptions option{
    font-size: small;
    font-weight: normal;
}

.pointerIgnore {
    pointer-events: none;
}

.arrow {
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {

    * {
        scrollbar-color: #202324 #454a4d;
    }
    
    body {
        color: #e8e6e3 !important;
        background-color: #181a1b !important;
        border: 1px solid #454a4d;
    }
    
    #btnClose:hover {
        background-color: #454a4d !important;
    }
    
    #selectTargetLanguage, select, option, #btnReset, #btnRestore, #btnTryAgain, #btnOptionB {
        color: #55a9ed !important;
        background-color: #181a1b !important;
        border: 1px solid #454a4d !important;
    }
}
