body {
    user-select: none;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 10px;
}

.containerRight {
    display:flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    margin-left: 5px;
}

#btnClose {
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 8px;
}

#divOptionsList {
    position: static;
}

#lblTranslating, #lblTranslated, #lblError,
#btnRestore, #btnTryAgain {
    display: none;
}

.arrow-down {
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}
